# Database connection string
DATABASE_URL=postgresql://neondb_owner:npg_HwkZi4SQ7VlN@ep-quiet-glade-aocienpu.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Random secret key for JWT
JWT_SECRET_KEY=ShubhamBotre
